#root {
  display: flex;
  justify-content: center;

  main {
    width: 90%;

    h2 {
      width: 100%;
    }

    header {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    section {
      table {
        width: 100%;
      }
    }
  }
}
