$white: #fff;
$grayColor: #cbcbcc17;
$submitColor: #007bff;
$modalBackgoundColor: #2d2d306e;

table {
    background-color: $white;
    text-align: center;
    thead{  
        background-color: $grayColor;
    };

}

.pagenationSection {
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    background-color: $modalBackgoundColor;
}

.modalDiv {
    position: fixed;
    top: 0;
    left: 0;
}

form {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 10rem;
    }

    label {
        width: 80%;
        text-align: initial;
        margin: 0.5rem 0;
        font-weight: bold;
        color: $submitColor;
    }
    input {
        width: 80%;
        padding: 0.2rem;
    }

    button {
        margin: 1rem 0;
    }
}
